/* FIRST PAGE */
#MainText {
  text-align: center;
  margin-top: 10%;

}


#homeFont {
  font-size: 15em;
}
.redirect {
  margin-top: 5%;
  margin-left: 41.5%
}



/* ************************************************ */
/* HEADER */


body{
  /* The image used */
  background-image: url("../images/Three.jpg");

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
/* ************************************************ */



/* Transparent Container */
.container {

    margin: 5%;
    -webkit-box-shadow: 0px 0px 100px 15px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 100px 15px rgba(0,0,0,1);
    box-shadow: 0px 0px 100px 15px rgba(0,0,0,1);
   height:1300px;
}

/* P tag in the container */
.about_text {
    color: white;
    line-height: 2;
    margin-top: 10%;
    text-align: center;    
}

.img-circle {
  margin-top: 7%;
 margin-left: 37%;
 border-radius: 50%;


}

/* ************************************************ */



/* Nav Bar */

nav {
    margin-top: 15px;
    margin-left: 23%;

}


.text_font_nav {

    margin-right: 350px;

}




/* ************************************************ */

/* NEON */




    .text_font_fancy_one {
        text-align: center;
        
      }
      
      .text_font_fancy_one {
        padding-top: 10%;
        text-decoration: none;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
      }
      
      .text_font_fancy_one:nth-child(1) h1 {
        color: #FFDD1B;
        font-size: 120px;
        font-family: 'Pacifico', cursive;
        -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
        -moz-animation: neon3 1.5s ease-in-out infinite alternate;
        animation: neon3 1.5s ease-in-out infinite alternate;
        color: #ffffff;
      }
      
      
      
      
      @-webkit-keyframes neon1 {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
        }
        to {
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
        }
      }
      
      
      
      
      
      
      
      @-moz-keyframes neon1 {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
        }
        to {
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
        }
      }
      
      
      
      
      @keyframes neon3 {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
        }
        to {
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
        }
      }
      



/* ************************************************ */
 
/* FOOTER */
footer {
    color:black;
    text-align: center;
    margin-bottom: 2%;
}

/* ************************************************ */
  /* portfolio cards*/

#triviagamebox {
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  
}

.card {
  height: 180px;
  text-align: center;
}

#bamazonbox {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;;
}




/* ************************************************ */
  /* Contact Page*/


.iconGuys {
  height: 250px;
  width: 250px;
  display: block;
}

#catGuy {
  margin-top: 8%;
  position: absolute
}

/* ************************************************ */
  /* MEDIA QUERIES */
/* ************************************************ */


/* MY SCREEN 1680x1050 */
/* 
1270px x 980px --> And lower we are making text smaller  */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}